<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <h1>FATHER</h1>
    <p>
        A father is someone you look up to no matter how tall you grow.My Dad is best.
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/mother">Mother's info</a>
      <a href="/sibling">Sibling Info</a>
      <a href="/you">Myself</a>
    </nav>
  </main>
</body>
</html>
