<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <h1>MOTHER</h1>
    <p>
        The more a daughter knows the details of her mother's life... the stronger the daughter.
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/father">Fathers' info</a>
      <a href="/sibling">Sibling Info</a>
      <a href="/you">Myself</a>
    </nav>
  </main>
</body>
</html>
