<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <h1>sibling</h1>
    <p>
      His name is Rinu Joseph, he is a student at georgian college at Orilla Campus .One of his hobby is drawing comic sketches.
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/father">Fathers' info</a>
      <a href="/mother">Mother's info</a>
      <a href="/you">Myself</a>
    </nav>
  </main>
</body>
</html>
