<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <main>
    <h1>Myself</h1>
    <p>
       i am a computer programming student at my final semester.Enjoying the world is my best time.
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/father">Father's info</a>
      <a href="/mother">Mother's info</a>
      <a href="/sibling">Sibling Info</a>
    </nav>
  </main>
</body>
</html>